<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" fixedInViewport
               [attr.role]="sideNavCtrl.isMobile ? 'dialog' : 'navigation'"
               [mode]="sideNavCtrl.isMobile ? 'over' : 'side'"
               [opened]="(!sideNavCtrl.isMobile || sideNavCtrl.opened)"
               (openedChange)="sideNavCtrl.opened = $event">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <ng-template ngFor let-page [ngForOf]="appPages">
        <a mat-list-item *ngxPermissionsOnly="page.permissions" [routerLink]="page.url" routerLinkActive="active"
           (click)="sideNavCtrl.opened = false">
          <mat-icon matListItemIcon>{{page.icon}}</mat-icon>
          <h4 matListItemTitle>{{page.title}}</h4>
        </a>
      </ng-template>
      <mat-list-item *ngIf="!(loggedIn$ | async)" routerLink="/login" routerLinkActive="active"
                     (click)="sideNavCtrl.opened = false">
        <mat-icon matListItemIcon>exit_to_app</mat-icon>
        <h4 matListItemTitle>Login</h4>
      </mat-list-item>
      <mat-list-item *ngIf="loggedIn$ | async" (click)="logout()">
        <mat-icon matListItemIcon>logout</mat-icon>
        <h4 matListItemTitle>Logout</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
