<mat-toolbar color="primary">
  <matx-back-button></matx-back-button>
  <div class="col">{{operation | titlecase}} Category</div>
</mat-toolbar>

<section class="container py-3" *ngIf="(model | keys).length">
  <form #f="ngForm" (ngSubmit)="save(f)">
    <matx-input name="name" [(ngModel)]="model.name" #name="ngModel" label="Name" required
                maxlength="20">
      <matx-errors [field]="name"></matx-errors>
    </matx-input>

    <matx-textarea name="description" [(ngModel)]="model.description" #description="ngModel" label="Description"
                maxlength="200">
      <matx-errors [field]="description"></matx-errors>
    </matx-textarea>

    <button mat-raised-button color="primary">Save</button>
  </form>
</section>
