<mat-toolbar color="primary">
  <matx-menu-button></matx-menu-button>
  <header class="row w-100">
    <h1 class="col d-flex align-items-center">
      <span>Popular products</span></h1>
    <div class="col-auto"><a href="#" target="_blank" mat-stroked-button>See all</a></div>
  </header>
</mat-toolbar>

<main>
  <div class="container pt-5">
    <article class="banner-wrap">
      <img src="assets/images/banner.jpg" class="w-100 rounded">
    </article>

    <div class="row">
      <div class="col-md-3 py-3" *ngFor="let product of popularProducts">
        <mat-card>
          <mat-card-header>
<!--            <div mat-card-avatar class="example-header-image"></div>-->
            <mat-card-title><h2>{{product.name}}</h2></mat-card-title>
<!--            <mat-card-subtitle>Dog Breed</mat-card-subtitle>-->
          </mat-card-header>
          <img mat-card-image [src]="product.thumbnail" alt="Photo of a {{product.name}}">
          <mat-card-content>
            <p>{{product.description}}</p>
          </mat-card-content>
          <mat-card-actions>
            <a [routerLink]="'/products/' + product.id" mat-button>View</a>
            <button mat-button>Add To Cart</button>
          </mat-card-actions>
        </mat-card>
        <!--<mat-card>
          <img mat-card-image [src]="product.image ?? ''" [alt]="product.name">
          <mat-card-title class="text-truncate" [matTooltip]="product.name ?? ''">{{product.name}}</mat-card-title>
          <mat-card-content>
            <div>{{product.description}}</div>
            <div class="mt-1">${{product.price}}</div>
          </mat-card-content>
        </mat-card>-->
      </div>
    </div>

  </div>
</main>
